ipaddress>=1.0.16
feedparser>=5.2.1
requests>=2.18
arrow>=0.6.0
python-magic>=0.4.6
pyaml>=15.8.2
chardet>=3.0
lxml>=4.2
tzlocal

SQLAlchemy>=1.2
tornado>=5.0
nltk>=3.2,<3.3

csirtg_indicator>=2.0a2
csirtgsdk>=0.0.0a9
csirtg_mail>=0.0.0a9

csirtg-urlsml
csirtg-domainsml
csirtg-ipsml
